/*  your css code here. If applicable */
* {
	box-sizing:border-box;
}

h1,h2,h3,p {
	padding:0;
	margin:0;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.container{
	display:flex;
	justify-content:center;
}

.otp{
	padding:1em;
	border:1px solid black;
	border-radius:0.5em;
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:1em;
}

.text{
	font-size:0.75rem;
}

.code-container{
	display:flex;
	gap:1em;
}

.code{
	/* padding:2em 1em; */
	/* padding:0.2em 0em; */
	width:60px;
	height:75px;
	text-align:center;
	font-size:2rem;
}
